<!DOCTYPE html>
<html lang="ko">
<head>
   
    <!-- Required meta tags -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link type="text/css"  href="/css/comm/common.css"  rel = "stylesheet"/>
    <link type="text/css"  href="/css/comm/style.css"  rel = "stylesheet"/>
    <link type="text/css"  href="/css/comm/style02.css"  rel = "stylesheet"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="javascriptPluginAll_NTS_6.js"></script>
        <script type="text/javascript">
                var WebSquareExternal = {
                    "configCacheMode" : "hometax"
                }
        </script>
        <script type="text/javascript">
            window.onload = init;

            function init() {
                //alert("websquare_html4.html");
                try{
                    imports('uiplugin.popup');
                    WebSquare.startApplication();
                } catch(e) {
                    window.location.href = "/html/comm/error/cmErrorPage.html";
                }
            }
        </script>

        <title>양도세계산기</title>

</head>
<body>
    

    
</body>
</html>