<!DOCTYPE html>
<html lang="ko">

<head>

    <title>낙찰가 계산하기</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <style>
            .myprice {
                width: 500px;
                margin: auto;
            }
        </style>
        <script>
            function calculate_predicted_value(){

                $.ajax({
                    type: "get",
                    url: "/calculate_expected_value",
                    data: {
                           "input1": $("#input1").val(), 
                           "input2": $("#input2").val(), 
                           "input3": $("#input3").val(), 
                           "input4": $("#input4").val(), 
                           "input5": $("#input5").val(), 
                           "input6": $("#input6").val(), 
                           "input7": $("#input7").val(), 
                           "input8": $("#input8").val(), 
                           "input9": $("#input9").val(), 
                           "input10": $("#input10").val(), 
                           "input11": $("#input11").val(), 
                           "input12": $("#input12").val(), 
                           "input13": $("#input13").val()
                    },
                    dataType: "json",
                    success: function (response) {
                        alert(response['expected_value']);
                        $("#expected_price").text(response['expected_value']);
                    }
                });
            }

        </script>

</head>

<body>


        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/b">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="d-block mx-auto">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                    </svg>
                </a>
                <a class="py-2 d-none d-md-inline-block" href="#">회원가입</a>
                <a class="py-2 d-none d-md-inline-block" href="#">내정보</a>
            </div>
        </nav>

        <div class="myprice">
            <div>나의 낙찰가 산정하기! (단위 : 만원)</div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    
                    <span class="input-group-text" >매도금액</span>
                </div>
                <input type="text" class="form-control" id="input1" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >기대수익</span>
                </div>
                <input type="text" class="form-control" id="input2" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >법무비</span>
                </div>
                <input type="text" class="form-control" id="input3" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >미납관리비</span>
                </div>
                <input type="text" class="form-control" id="input4" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >명도비</span>
                </div>
                <input type="text" class="form-control" id="input5" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >공실부담금(관리비)</span>
                </div>
                <input type="text" class="form-control" id="input6" aria-describedby="basic-addon3">

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >대출이자</span>
                </div>
                <input type="text" class="form-control" id="input7" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >예상중도상환수수료</span>
                </div>
                <input type="text" class="form-control" id="input8" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >인테리어비</span>
                </div>
                <input type="text" class="form-control" id="input9" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >중개수수료</span>
                </div>
                <input type="text" class="form-control" id="input10" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >양도세</span>
                </div>
                <input type="text" class="form-control" id="input11" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >취득세</span>
                </div>
                <input type="text" class="form-control" id="input12" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >그외비용(연체금/채무비등)</span>
                </div>
                <input type="text" class="form-control" id="input13" aria-describedby="basic-addon3">
            </div>
            <div class="expectprice">
                <button type="button" onclick="calculate_predicted_value()"  class="btn btn-primary">낙찰가예상하기</button>
            </div>
            <div id="expected_price">

            </div>

        </div>


</body>

</html>