<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>후보2</title>
</head>

<body>


    <body>

        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2 d-none d-md-inline-block" href="#">홈으로</a>
                <a class="py-2 d-none d-md-inline-block" href="#">회원가입</a>
                <a class="py-2 d-none d-md-inline-block" href="#">내정보</a>
            </div>
        </nav>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">경매어쩌구이름짓기</h1>
                <p class="lead font-weight-normal">혼자해서 어려운 경매 같이해봐요 어쩌구저쩌구 설명</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">이메일주소</span>
                    </div>
                    <input type="text" class="form-control" id="mail_address" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">비밀번호</span>
                    </div>
                    <input type="password" class="form-control" id="order_address" aria-describedby="basic-addon3">
                </div>

                <a class="btn btn-primary" href="#">로그인하기</a>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <a href="/b-1">
		    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
				    <h2 class="display-5"><button type="button" class="btn btn-link"></button>경매지식</h2>
				    <p class="lead">경매시 꼭 알아야하는 필수지식!</p>
				</div>
				<div class="bg-light box-shadow mx-auto"
				    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
				</div>
		    </div>
            </a>

	    <a href="/b-2">
		    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
				<div class="my-3 p-3">
				    <h2 class="display-5">국토부실거래가보기</h2>
				    <p class="lead">실거래가로 올바른 시세를 파악</p>
				</div>
				<div class="bg-dark box-shadow mx-auto"
				    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
				</div>
		    </div>
            </a>

            <a href="/b-3">
		    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
				<div class="my-3 p-3">
				    <h2 class="display-5">입찰가산정</h2>
				    <p class="lead">소신있는 나만의 입찰가</p>
				</div>
				<div class="bg-dark box-shadow mx-auto"
				    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
				</div>
		    </div>
            </a>

            <a href="/b-4">
		    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
			    <div class="my-3 py-3">
				<h2 class="display-5">Q&A</h2>
				<p class="lead">고민거리 함께 공유하기</p>
			    </div>
			    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
			    </div>
		    </div>
            </a>
        </div>
    </body>



</html>

</body>

</html>
