<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>기초 지식</title>
</head>

<body>






        <nav class="mylist">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/b">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="d-block mx-auto">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                    </svg>
                </a>
                <a class="py-2 d-none d-md-inline-block" href="#">회원가입</a>
                <a class="py-2 d-none d-md-inline-block" href="#">내정보</a>
            </div>
        </nav>

        <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          권리분석
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <h4>권리분석</h4>
            <p>경매에서 가장 중요한 권리분석은 필요한 법을 기초로 반드시 알아야 하는 필수사항이며
                대항력과 우선변제권, 최우선변제권에 필요한 전입일자, 확정일자, 배당요구종기 등의 의미를 이해하여야 한다.
                권리분석에서 가장 중요한것은 말소기준권리를 찾아 말소기준권리보다 먼저 등기부에 등재되어 있는 전세권, 지상권, 선순위 임차인 등의 권리등 인수 대상이 있는지 확인하여야 하고 ,
                권리가 말소기준권리보다 뒤에 있으면 낙찰로 인하여 말소된다. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          말소기준권리
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
                    <h4 >말소기준권리</h4>
            <p>등기부상에 나타나는 모든 권리들의 말소와 인수 여부를 판단하는 기준이며 매수인이 대금납부를 하면 말소기준등기를 포함한 모든 권리가 소멸되는것을 말한다.
                말소기준이 될 수 있는 권리는 가압류, 압류, 근저당권, 저당권, 담보가등기, 전세권 등이 있다.
            </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          대항력
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
                    <h4 >대항력</h4>
            <p>경매에서 근저당권 설정등기나 가압류 설정등기 전에 임차인이 인도와 주민등록을 모두 갖추면 제 삼자에 대하여 효력이 생긴다.
                임대차는 그 등기가 없는 경우에도 임차인이 주택의 인도와 주민등록을 마친 때에는 그 다음 날부터 제삼자에 대하여 효력이 생긴다. 이 경우 전입신고를 한 때에 주민등록이 된 것으로 본다.
                임대차 등기는 다음과 같을때 효력이 생긴다
                <ol>
          <li>주민등록을 마쳐야 한다.</li>
          <li>임차주택을 점유하여야 한다.</li>
          <li>임대차계약증서상의 확정일자를 받아야 한다.</li>
          </ol>
            </p>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingfour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          우선변제권
        </button>
      </h5>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
      <div class="card-body">
                    <h4 >우선변제권</h4>
            <p>등기부상에 나타나는 모든 권리들의 말소와 인수 여부를 판단하는 기준이며 매수인이 대금납부를 하면 말소기준등기를 포함한 모든 권리가 소멸되는것을 말한다.
                말소기준이 될 수 있는 권리는 가압류, 압류, 근저당권, 저당권, 담보가등기, 전세권 등이 있다.
            </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
          최우선변제권
        </button>
      </h5>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
      <div class="card-body">
                  <h4>최우선변제권</h4>
            <p>소액임차인일 경우 경매개시결정등기 전에 전입신고가 되어있으며 배당요구종기 전에 배당요구를 신청했다면 최우선변제를 받을 수 있다.
                하지만 소재지역과 기준시기에 따라 배당액이 달라지기 때문에 주의해야한다.
                기준시기는 임차인이 계약한 시점이 아니라 최초로 설정된 담보물권(근저당권 등)의 일자에 따라 결정된다.
            </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingsix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
          당해세
        </button>
      </h5>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
      <div class="card-body">
                  <h4>당해세</h4>
            <p>당해 재산의 소유에 따라 그 자체에서 발생하는 세금을 말한다.
                국세와 지방세로 나뉘며 국세로는 상속세, 증여세, 종합부동산세 지방세로는 재산세, 지방교육세 가 있다.
            </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingseven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
          배당금
        </button>
      </h5>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
      <div class="card-body">
          <h4>배당금</h4>
          <p>배당이란 경매대상 물건의 매수대금으로 채권자의 채권을 그 순위에 따라 변제해주는 절차이며 배당금은 그 금액을 말한다.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingeight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
          배당금순위
        </button>
      </h5>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
      <div class="card-body">
                  <h4>배당금순위</h4>
          <p>
          <ol>
          <li>경매비용</li>
          <li>필요비유익비</li>
          <li>소액임차보증금 및 최종3개월분 임금, 최종3년간의 퇴직금 재해보상금</li>
          <li>당해세 국세및 지방세의 법정기일전에 설정등기된 저당권, 전세권으로 담보되는 채권</li>
          <li>소액임차보증금 및 최종3개월분 임금, 최종3년간의 퇴직금 재해보상금을 제외한 임금/국세, 지방세 등 지방자치단체의 징수금</li>
          <li>공과금채권</li>
          <li>일반채권자채권</li>
          </ol>
          </p>
      </div>
    </div>
  </div>


</body>

</html>