<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>중개수수료계산</title>
    <script>
        function calculate_dealcharge_value() {

            $.ajax({
                type: "get",
                url: "/dealcharge_value",
                data: {
                    "input1": $("#input1").val(),
                    "input2": $("#input2").val(),

                },
                dataType: "json",
                success: function (response) {
                    alert(response['expected_value']);
                    $("#expected_price").text(response['expected_value']);
                }
            });
        }


        function get_diff_value1() {
            var diff = $("#input1").val() * $("#input2").val();
            $("#expected_price").val(diff);
        }
    </script>
    <style>
        * {
            text-align: center;
        }

        .myprice {
            width: 500px;
            margin: auto;
        }
    </style>


</head>

<body>

    <div class="myprice">
        <h1>중개수수료 (단위 : 만원)</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">거래가액</span>
            </div>
            <input type="text" class="form-control" placeholder="예)5000" aria-label="price"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">보수료율</span>
            </div>
            <input type="text" class="form-control" placeholder="예)0.5" aria-label="percent"
                aria-describedby="basic-addon1">
        </div>



        <div class="expectprice">
            <button type="button" onclick="calculate_charge_value()" class="btn btn-primary">계산하기</button>
            <span id="expected_price"> </span>
            <button type="button" onclick="      ()" class="btn btn-primary">적용하기</button>
        </div>


    </div>

    <dl class="boxCaution mt20">
        <dt>중개보수료 산출방법 : 거래가액 × 보수료율</dt>
        <dd>- 매매, 교환, 전세 : 계약금액을 거래가액으로 함</dd>
        <dd>- 월세 : 거래가액 = 보증금 ＋ (월세 × 100) * 단, 거래가액이 5천만원 미만일 경우 100을 70으로 함</dd>
    </dl>


    <h2 class="mt40">중개수수료 요율표(서울시 기준)</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">매매교환기준금액</th>
                <th scope="col">상한요율</th>
                <th scope="col">한도액</th>
                <th scope="col">거래금액산정</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">5000만원 미만</th>
                <td>0.6%</td>
                <td>25만원</td>
                <td>매매:매매가격</td>
            </tr>
            <tr>
                <th scope="row">5000만원 이상 - 2억원 미만</th>
                <td>0.5%</td>
                <td>80만원</td>
                <td>교환:교환대상중 가격이 큰 대상물 가격</td>
            </tr>
            <tr>
                <th scope="row">2억원 이상 - 6억원 미만</th>
                <td>0.4%</td>
                <td>없음</td>
                <td>전체동일</td>
            </tr>
            <tr>
                <th scope="row">6억원 이상 - 9억원 미만</th>
                <td>0.5%</td>
                <td>없음</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">9억원 이상</th>
                <td>0.9%내 협의</td>
                <td>0.9%내 협의</td>
                <td></td>
            </tr>
        </tbody>

        <thead class="thead-light">
            <tr>
                <th scope="col">임대차기준금액</th>
                <th scope="col">상한요율</th>
                <th scope="col">한도액</th>
                <th scope="col">거래금액산정</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">5천만원 미만</th>
                <td>0.5%</td>
                <td>20만원</td>
                <td>전세:전세금</td>
            </tr>
            <tr>
                <th scope="row">5천만원 이상 - 1억원 미만</th>
                <td>0.4%</td>
                <td>30만원</td>
                <td>월세:보증금+(월차임x100)</td>
            </tr>
            <tr>
                <th scope="row">1억원 이상 - 3억원 미만</th>
                <td>0.3%</td>
                <td>없음</td>
                <td>단, 계산금액이 5천만원 미만 시 보증금+(월차임액x70)</td>
            </tr>
            <tr>
                <th scope="row">3억원 이상 - 6억원 미만</th>
                <td>0.4%</td>
                <td>없음</td>
                <td>전체동일</td>
            </tr>
            <tr>
                <th scope="row">6억원 이상</th>
                <td>0.8%내 협의</td>
                <td>0.8%내 협의</td>
                <td></td>
            </tr>
        </tbody>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">오피스텔</th>
                    <th scope="col">상한요율</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">매매/교환</th>
                    <td>0.5%</td>
                </tr>
                <tr>
                    <th scope="row">임대차 등</th>
                    <td>0.4%</td>
                </tr>
            </tbody>
        </table>
    </table>


</body>

</html>