<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        .headimage {
            width:100% ;
            height:200px;
            background-image:url(https://cdn.pixabay.com/photo/2013/07/12/17/17/playschool-151938_1280.png) ;
            background-size:500px;
        }
    </style>



    <title>home</title>



</head>

<body>


    <body>

        <nav class="mylist">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/home">
                    <svg class="bi bi-house" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                <!--                <a class="py-2 d-none d-md-inline-block" href="#">회원가입</a>-->
                <!--                <a class="py-2 d-none d-md-inline-block" href="#">내정보</a>-->
            </div>
        </nav>

        <div class="myhead text-center">
            <div class="col-md-5 mx-auto">
                <h1 class="display-4 font-weight-normal">모두의경매</h1>
                <p class="lead font-weight-normal">경린이 건물주 도전하기!</p>
                <!--                <div class="input-group mb-3">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text" id="basic-addon3">이메일주소</span>-->
                <!--                    </div>-->
                <!--                    <input type="text" class="form-control" id="mail_address" aria-describedby="basic-addon3">-->
                <!--                </div>-->
                <!--                <div class="input-group mb-3">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text" id="basic-addon3">비밀번호</span>-->
                <!--                    </div>-->
                <!--                    <input type="password" class="form-control" id="order_address" aria-describedby="basic-addon3">-->
                <!--                </div>-->

                <!--                <a class="btn btn-primary" href="#">로그인하기</a>-->
            </div>
            <div class="headimage"></div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <a href="/menu1">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
                    <div class="my-3 py-3">
                        <h2 class="display-5"><button type="button" class="btn btn-link"></button>필수지식</h2>
                        <p class="lead">꼭 알고 시작하기!</p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                      
                    </div>
                </div>
            </a>

            <a href="/b-2">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
                    <div class="my-3 p-3">
                        <h2 class="display-5">국토부실거래가</h2>
                        <p class="lead">실거래가로 올바른 시세파악하기</p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </a>

            <a href="/b-3">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
                    <div class="my-3 p-3">
                        <h2 class="display-5">소신있는입찰가</h2>
                        <p class="lead">나만의 입찰가 산정하기</p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </a>

            <a href="/b-4">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="color:black">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Q&A</h2>
                        <p class="lead">고민거리 공유하기</p>
                    </div>
                    <div class="bg-dark box-shadow mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </a>
        </div>
    </body>



</html>

</body>

</html>