<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        .headimage {
            width: 100%;
            height: 200px;
            background-image: url(https://cdn.pixabay.com/photo/2013/07/12/17/17/playschool-151938_1280.png);
            background-size: 500px;
        }

        * {
            font-family: 'CookieRun-Regular';
            ;
        }


        @font-face {
            font-family: 'CookieRun-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <title>home</title>

</head>

<body>


    <body>

        <nav class="mylist">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/home">
                    <svg class="bi bi-house" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                            clip-rule="evenodd" />

                    </svg>

                </a>
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-text">
                        이메일 문의 : ppl1577@daum.net
                    </span>
                </nav>
                <!--                <a class="py-2 d-none d-md-inline-block" href="#">회원가입</a>-->
                <!--                <a class="py-2 d-none d-md-inline-block" href="#">내정보</a>-->
            </div>
        </nav>

        <div class="myhead text-center">
            <div class="col-md-5 mx-auto">
                <h1 class="display-4 font-weight-normal">모두의경매</h1>
                <p class="lead font-weight-normal">경린이 건물주 도전하기!</p>
                <!--                <div class="input-group mb-3">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text" id="basic-addon3">이메일주소</span>-->
                <!--                    </div>-->
                <!--                    <input type="text" class="form-control" id="mail_address" aria-describedby="basic-addon3">-->
                <!--                </div>-->
                <!--                <div class="input-group mb-3">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text" id="basic-addon3">비밀번호</span>-->
                <!--                    </div>-->
                <!--                    <input type="password" class="form-control" id="order_address" aria-describedby="basic-addon3">-->
                <!--                </div>-->

                <!--                <a class="btn btn-primary" href="#">로그인하기</a>-->
            </div>
            <div class="headimage"></div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <span style="width:5%"></span>
            <a href="/basic_knowledge" style="width:30%">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                    style="color:black; height: 500px;">
                    <div class="my-3 py-3">
                        <h2 class="display-5"><button type="button" class="btn btn-link"></button>기초지식</h2>
                        <p class="lead">꼭 알고 시작하기</p>
                    </div>


                    <svg class="bi bi-info" style="width: 90%; height: 350px; border-radius: 10px 10px 0 0;"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                        <circle cx="8" cy="4.5" r="1" />
                    </svg>
                </div>
            </a>

            <a href="/b-2" style="width:30%">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                    style="color:black; height: 500px;">
                    <div class="my-3 p-3">
                        <h2 class="display-5">국토부실거래가</h2>
                        <p class="lead">올바른 시세파악하기</p>
                    </div>
                    <svg class="bi bi-graph-up" style="width: 60%; height: 300px; border-radius: 10px 10px 0 0;"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z" />
                        <path fill-rule="evenodd"
                            d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M10 3.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V4h-3.5a.5.5 0 01-.5-.5z"
                            clip-rule="evenodd" />
                    </svg>


                </div>
            </a>

            <a href="/b-3" style="width:30%">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                    style="color:black; height: 500px;">
                    <div class="my-3 p-3">
                        <h2 class="display-5">입찰가</h2>
                        <p class="lead">나만의 입찰가 산정하기</p>
                    </div>
                    <svg class="bi bi-building" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M15.285.089A.5.5 0 0115.5.5v15a.5.5 0 01-.5.5h-3a.5.5 0 01-.5-.5V14h-1v1.5a.5.5 0 01-.5.5H1a.5.5 0 01-.5-.5v-6a.5.5 0 01.418-.493l5.582-.93V3.5a.5.5 0 01.324-.468l8-3a.5.5 0 01.46.057zM7.5 3.846V8.5a.5.5 0 01-.418.493l-5.582.93V15h8v-1.5a.5.5 0 01.5-.5h2a.5.5 0 01.5.5V15h2V1.222l-7 2.624z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z" clip-rule="evenodd" />
                        <path
                            d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z" />
                    </svg>
                </div>
            </a>

        </div>


        
    </body>



</html>

</body>

</html>